div{
    width:100px;
    height:100px;
}
.violet{
    background-color:#931e9b;
}
.bleufonce{
    background-color:#070bb3;
}
.violetclair{
    background-color:#8f91e2;
}
.violetfonce{
    background-color:#380087;
}
.violetnoir{
    background-color:#262444;
}   
.rose{
    background-color:#ee3fa2;
}
.blanc{
    background-color:#ffffff;
}