* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #262444;
}

h1 {
    font-size: 5em;
    display: inline;
}

header {
    padding-left: 5%;
    padding-right: 1%;
    color: #ffffff;
    background: linear-gradient(to bottom, #070bb3, #380087);
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vh;
}

.jalon {
    padding:2%;

    text-align: center;
}
.jalon img{
    width:100%;
    object-fit:cover;
}
h3{
    font-size: 2.5em;
}
.jalon:nth-child(2n) {
    color:#ee3fa2;
    background:linear-gradient(to bottom right,#8f91e2,#380087) ;
}
.jalon:nth-child(2n+1) {
    color:#931e9b;
    background:linear-gradient(to bottom right,#380087,#8f91e2) ;
}

@media screen and (min-width:1000px){

#jalonContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 6vh;
}
.jalon {
    width: 55%;
}
.jalon:nth-child(2n) {
    align-self: flex-end;
}
}

@media screen and (max-width:1000px){
    #jalonContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 6vh;
    }
    .jalon {
        width: 100%;
    }
}

/*
For pageJalon
*/
#direcindex
{
    text-decoration: none;
}
#image_page_jalon{
    width:70vmin;
    object-fit: cover;
    display:block;  
    margin: 2em auto;
}
h2{
    color:#8f91e2;
    font-size: 4em;
}
.gauchevsdroite{
    display:flex;
    justify-content: space-between;
}
.petitfond{
    background-color: #8f90e238;
    border-radius: 2em;
    padding:2em;
    margin:2em 1em;
}
.highflexgrow{
    flex-grow:2;
}
.temps{
    text-align: center;
    color:#8f91e2;
    flex-grow: 1;
}
.fleche{
    display: inline;
    height:10em;
    object-fit: cover;
}
#finjalon,#debutjalon{
    color:#ee3fa2;
}
p{
    font-size: 2em;
    color:#cf71d6;  
}
.centre{
    text-align: center;
}
.bouton:hover{
    background-color: #8f91e2;
    color:black;

}
.bouton{
    background-color: #380087;
    color:#ffffff;  
    display: inline;
    border-radius: 2em;
    padding:0.3em;
    margin:1em;
    font-size: 3em;
    text-decoration: none;
}