* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #262444;
    font-size: 2em;
}

h1 {
    font-size: 5vw;
    display: inline;
}

header {
    padding-left: 5%;
    padding-right: 1%;

    color: #ffffff;
    background: linear-gradient(to bottom, #070bb3, #380087);
}

ol,
li {
    color: white;
    margin: 1%;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vh;
}

#jalonContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.jalon {
    padding:2%;
    width: 55%;
    height: 50vh;
    color:#ee3fa2;
}

.jalon:nth-child(2n) {
    background:linear-gradient(to bottom right,#8f91e2,#380087) ;
    align-self: flex-end;
    color:#931e9b;
}
.jalon:nth-child(2n+1) {
    background:linear-gradient(to bottom right,#380087,#8f91e2) ;
}
