*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#262444;
}
h1{
    font-size:5vw;
    display:inline;
}

header {
    padding-left: 5%;
    padding-right: 1%;
    
    color:#ffffff;
    background: linear-gradient(to bottom,#070bb3,#380087);
  }

